<main role="main" class="container">
    <div class="jumbotron">
      <h1>Products</h1>
      <p class="lead">
        This is products view
      </p>
      <table>
        <tr>
          <th>S.no</th>
          <th>Code</th>
          <th>Name</th>
          <th>Packing</th>
          <th>Catogery</th>
          <th>Tax rate</th>
          <th>Price</th>
        </tr>
        <tr>
          <td>1.</td>
          <td>T-2156</td>
          <td>Kishore</td>
          <td>completed</td>
          <td>Food and Beverages- Breadcrumbs</td>
          <td>2%</td>
          <td>$10.75</td>
        </tr>
        <tr>
          <td>2.</td>
          <td>T-5211</td>
          <td>Kishore</td>
          <td>On process</td>
          <td>Food and Beverages- Cooldrinks</td>
          <td>5%</td>
          <td>$24.30</td>
        </tr>
        <tr>
          <td>3.</td>
          <td>T-1132</td>
          <td>Kishore</td>
          <td>Completed</td>
          <td>Food and Beverages- Snacks</td>
          <td>8%</td>
          <td>$19.50</td>
        </tr>
</table>
    </div>
  </main>